*{
  font-family: 'Poppins', sans-serif;
}


.post-body ol {
  padding: 0;
  margin: 0;
  overflow: hidden;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-bottom: 10px;
  display: -webkit-box;
  list-style: none;
}
.post-body ol li {
  margin: 0;
  padding: 0;
  margin-right: 5px;
}
.post ol li:before {
  content: none;
}
