.body {
  background: #320139;
}

.body2 {
  background: #331b3b;
}


.rd-navbar-panel {
  transition: 0.35s all cubic-bezier(0.65, 0.05, 0.36, 1);
}

.rd-navbar-panel {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1090;
  align-items: center;
  height: 56px;
  padding: 4px;
}

.rd-navbar-panel {
  color: #3d3d3d;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.25);
  background: #737373;
}

.rd-navbar-panel {
  min-width: 200px;
  text-align: center;
}

.rd-navbar-panel {
  align-items: center; !important
}
