.rd-navbar-panel {
  transition: 0.35s all cubic-bezier(0.65, 0.05, 0.36, 1);
}

.rd-navbar-panel {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1090;
  align-items: center;
  height: 56px;
  padding: 4px;
}

.rd-navbar-panel {
  color: #fff;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.25);
  background: #f3f3f3;
}

.rd-navbar-panel {
  min-width: 200px;
  text-align: center;
}

.rd-navbar-panel {
  align-items: center; !important
}




.rd-navbar-panela {
  transition: 0.35s all cubic-bezier(0.65, 0.05, 0.36, 1);
}

.rd-navbar-panela {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1090;
  align-items: center;
  height: 110px;
  padding: 4px;
}

.rd-navbar-panela {
  color: #3d3d3d;
  box-shadow: 0px 0px 15px #ff9fe6;
  background: #131313;
}

.rd-navbar-panela {
  min-width: 200px;
  text-align: center;
}

.rd-navbar-panela {
  align-items: center; !important
}


i{
  color: #FF4BF6;
}

.bg-rosa{
  background: #ff97fa;
  width: 2px;
}


.rosadito{
  color: #FF4BF6;!important
}


*{
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

.aaa{
  margin-top: 150px !important;
}

.pgrid > [class*="col-"] {
  margin-bottom: 24px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.col-4-sm {
  -ms-flex: 0 0 32.333333%;
  flex: 0 0 32.333333%;
  max-width: 32.333333%;
}

.col-4-sm img {
  -ms-flex: 0 0 99.333333%;
  flex: 0 0 99.333333%;
  max-width: 100%;
  border-radius: 4px;
}

.col-4-smamazon {
  -ms-flex: 0 0 22.3%;
  flex: 0 0 22.3%;
  max-width: 22.3%;
}
.col-5-sm {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.col-6-sm {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.col-7-sm {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.col-8-sm {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.col-9-sm {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}
.col-10-sm {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}
.col-11-sm {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}
.col-12-sm {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.sec-22 a{
  color: #000;
  font-size: 18px;
}

.carddd{
  border-radius: 5px;
}